<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.renoster.Anthologizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Anthologizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="com.renoster.Anthologizer.Impl.AnthologizerService" behaviorConfiguration="debugServiceBehavior">
        <endpoint address="/REST" binding="webHttpBinding" contract="com.renoster.Anthologizer.Contract.IAnthologizerService"
                  behaviorConfiguration="webEndpointBehavior"/>
        <endpoint address="" binding="wsHttpBinding" contract="com.renoster.Anthologizer.Contract.IAnthologizerService"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debugServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

  <applicationSettings>
    <com.renoster.Anthologizer.Properties.Settings>
      <setting name="root" serializeAs="String">
        <value>C:\Users\Gavan\Music</value>
      </setting>
      <setting name="anthologies" serializeAs="String">
        <value>C:\Users\Gavan\Music\Anthologies</value>
      </setting>
    </com.renoster.Anthologizer.Properties.Settings>
    <Anthologizer.Properties.Settings>
      <setting name="root" serializeAs="String">
        <value>c:\tmp</value>
      </setting>
    </Anthologizer.Properties.Settings>
  </applicationSettings>
</configuration>
